body {
  background: linear-gradient(to bottom, #333333, #1a1a1a);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 50px;
  background: linear-gradient(to bottom, #1a1a1a, #1a1a1a);
  border: 2px solid #00ff00;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.5);
}

.container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
  transition: transform 0.3s ease-in-out;
}

.container img:hover {
  transform: scale(1.1);
}

h1, h2, h3, h4 {
  color: #00ff00;
}

button {
  background-color: #00ff00;
  color: black;
  padding: 15px 30px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

button:hover {
  background-color: #008800;
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.8);
}

textarea, input, select {
  background-color: #1a1a1a;
  color: white;
  border: 2px solid #00ff00;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
}

#output, #scanResult, #result {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #1a1a1a;
  border-radius: 10px;
  /* Add glow effect */
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff, 0 0 20px #00ffff, 0 0 25px #00ffff, 0 0 30px #00ffff, 0 0 35px #00ffff;
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff, 0 0 20px #00ffff, 0 0 25px #00ffff, 0 0 30px #00ffff, 0 0 35px #00ffff;
  }
  to {
    text-shadow: 0 0 10px #00ffff, 0 0 15px #00ffff, 0 0 20px #00ffff, 0 0 25px #00ffff, 0 0 30px #00ffff, 0 0 35px #00ffff, 0 0 40px #00ffff;
  }
}



.header-links {
  display: flex;
  justify-content: space-between; /* Use space-between for better spacing */
  margin-bottom: 20px;
}

.header-links a {
  color: #FFA500; /* Orange color for links */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.header-links a:hover {
  color: #FFD700; /* Lighter orange on hover */
}

.footer {
  margin-top: 30px;
  padding: 15px;
  background: #262626;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: #00ff00;
  margin: 0;
  text-align: center;
}
